<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:replace="/parts/metadata">
  <title>Fleet</title>
</head>
<body>
<link th:replace="/parts/navbar">

<div class="container">
  <div class="mt-5 md-2">
    <a class="btn btn-info" th:href="@{'/cars/'}">Show all cars</a>
    <a class="btn btn-info" th:href="@{'/cars/available'}">Show only available</a>
  </div>
  <br><br>
<link th:replace="/parts/fleetViewForUser">
</div>
<link th:replace="/parts/scripts">

</body>
</html>
