<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <tittle>Fleet for admin</tittle>
  <link th:replace="/parts/metadata">

</head>
<body>
<link th:replace="/parts/navbar">
<div class="container">
  <h2>Details of our fleet</h2>
  <input class="form-control mt-5" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Car ID </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=id,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=id,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Brand </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=brandName,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=brandName,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Car model </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=carModelName,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=carModelName,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Body type </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=bodyType,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=bodyType,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Engine power(MP) </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=enginePower,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=enginePower,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Engine size </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=engineSize,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=engineSize,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Production of year </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=prodYear,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=prodYear,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Current mileage</span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=currentMileage,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=currentMileage,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Daily rate </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=dailyRate,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=dailyRate,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Income </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=income,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=income,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Status </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/our-fleet/{sort},{direction}(sort=carStatus,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/our-fleet/{sort},{direction}(sort=carStatus,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>Manage</th>
    </tr>
    </thead>
    <tbody id="myTable">
    <tr th:each="car : ${detailsFleet}">
      <td th:text="${car.id}">ID</td>
      <td th:text="${car.brandName}">Brand</td>
      <td th:text="${car.carModelName}">Car model</td>
      <td th:text="${car.bodyType}">Body type</td>
      <td th:text="${car.enginePower}">Engine power(MP)</td>
      <td th:text="${car.engineSize}">Engine size<</td>
      <td th:text="${car.prodYear}">Production year</td>
      <td th:text="${car.currentMileage}">Current mileage</td>
      <td th:text="${car.dailyRate}">Daily rate</td>
      <td th:text="${car.income}">Income</td>
      <div th:switch="${car.carStatus}">
        <td>
          <a th:case="unavailable" class="btn btn-success btn-sm"
             th:href="'/manage/make-availability/' + ${car.id} + '/AVI'"><i class="fa fa-thumbs-up"
                                                                            aria-hidden="true"></i>
            Change to available</a>
          <a th:case="available" class="btn btn-danger btn-sm"
             th:href="'/manage/make-availability/' + ${car.id} + '/UAV'"><i
              class="fa fa-thumbs-down" aria-hidden="true"></i>
            Change to unavailable</a>
        </td>
      </div>
      <td>
        <div class="d-sm-inline-flex">
          <a class="btn btn-success" th:href="'/manage/edit-form/' + ${car.id}">Edit</a>
          <a class="btn btn-danger" th:href="'/manage/delete/' + ${car.id}">Delete</a>
        </div>
      </td>

    </tr>
    </tbody>
  </table>
</div>

<link th:replace="/parts/scripts">

</body>
</html>
