<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:replace="/parts/metadata"/>
  <title>Car rental</title>

</head>
<body>
<link th:replace="/parts/navbar"/>
<div class="container">
  <div class="form-control mt-4">
  <!--<div class="col-4">
  <p>Start Date: <input type="text" id="datepicker1" class="form-control"></p>
  <p>End Date: <input type="text" id="datepicker2" class="form-control"></p>
  </div>-->
    <div class="mt-2 md-2">
    <a class="btn btn-info" th:href="@{'/cars/'}">Show all cars</a>
    </div>
    <br><br>
    <link th:replace="/parts/fleetViewForUser">
</div>
</div>


<link th:replace="/parts/scripts"/>
</body>
</html>