<div xmlns:th="http://www.w3.org/1999/xhtml">
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table id="sort-table" class="table table-bordered">
    <thead>
    <tr>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Brand </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=brandName,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=brandName,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Car Model </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=carModelName,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=carModelName,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Body type </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=bodyType,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=bodyType,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Location </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=locationName,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=locationName,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Engine power(MP) </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=enginePower,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=enginePower,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Engine size </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=engineSize,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=engineSize,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Production of year </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=prodYear,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=prodYear,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Daily rate </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars{sort},{direction}(sort=dailyRate,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=dailyRate,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th>
        <div class="d-sm-inline-flex">
          <div class="text-lg-left"><span>Status </span></div>
          <div class="text-right ">
            <a
                th:href="@{/cars/{sort},{direction}(sort=carStatus,direction=ASC)}"><i
                class="fa fa-sort-asc fa-xs" aria-hidden="true"></i></a>
            <br>
            <a th:href="@{/cars/{sort},{direction}(sort=carStatus,direction=DESC)}"><i
                class="fa fa-sort-desc fa-xs" aria-hidden="true"></i></a>
          </div>
        </div>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody id="myTable">
    <tr th:each="car : ${carsForUser}">
      <td th:text="${car.brandName}">Brand</td>
      <td th:text="${car.carModelName}">Car model</td>
      <td th:text="${car.bodyType}">Body type</td>
      <td th:text="${car.locationName}">Location</td>
      <td th:text="${car.enginePower}">Engine power(MP)</td>
      <td th:text="${car.engineSize}">Engine size<</td>
      <td th:text="${car.prodYear}">Production year</td>
      <td th:text="${car.dailyRate}">Daily rate</td>
      <td th:text="${car.carStatus}">Status</td>
      <div th:switch="${car.carStatus}">
        <td>
          <a th:case="available" class="btn btn-success"
             th:href="'/rent-car/' + ${car.id}">Booking</a>
          <span th:case="unavailable" class="badge badge-warning">Currently rented</span>
        </td>
      </div>
    </tr>
    </tbody>
  </table>

</div>