<nav class="navbar navbar-expand-lg navbar-light bg-primary"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:th="http://www.w3.org/1999/xhtml">
  <a class="navbar-brand" href="/">Car Rental</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cars/">Fleet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rent-car/my-rent/">My car rentals</a>
      </li>
      <div sec:authorize="hasRole('ROLE_ADMIN')">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cars/our-fleet">Manage our cars</a>
          <a class="dropdown-item" href="/manage/new-car">Add new car</a>
            <a class="dropdown-item" href="/rent-car/all-rent">Look for rentals</a>
        </div>
      </li>
      </div>
    </ul>
    <div class="float-right">
      <div sec:authorize="isAuthenticated()">
        <form method="POST" th:action="@{/logout}">
          <button class="btn btn-danger" type="submit">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            Sign-out
          </button>
        </form>
      </div>
    </div>
    <div sec:authorize="isAnonymous()">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item dropdown navi-log">
          <a class="nav-link dropdown-toggle" id="naviLog" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-default"
               aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" th:href="@{/login}">Sign in</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/registration}">Register</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--  </li>
    </ul>-->
  <!--<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>-->
</nav>
<!--<div class="jumbotron jumbotron-fluid jumbotron-carrental">
&lt;!&ndash;  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>&ndash;&gt;
</div>-->


<!--/.Navbar -->